In [1]:
import numpy as np
import pandas as pd
import sys
import re
from scipy import sparse
from tabulate import tabulate

### Read SNAP data into list of lists

In [2]:
# fname = './data/NCAA_football.csv'
# with open(fname, 'r') as f:
#     lines = [[int(node) for node in re.split('\t',edge.strip('\n'))[:2]] for edge in f.readlines() if edge[0][0] != '#']
# edges = np.array(lines)
# numItems = len(np.unique(np.array(lines)))

### Read small datasets into list of lists

In [3]:
# fname = './data/karate.csv'
fname = './data/NCAA_football.csv'
# fname = './data/eg.txt'
df = pd.read_csv(fname, header=None, usecols=[i for i in range(4)])
if type(df[2][0]) == str:
    df[2] = df[2].str.replace('"', '').str.strip()

names = sorted(np.unique(np.concatenate((df[0].unique(),df[2].unique()))))

a = np.array(df[0].apply(names.index))   
b = np.array(df[2].apply(names.index))
edges = np.array([b,a]).T
numItems = len(names)

### Create adjacency matrix

In [4]:
adj = sparse.lil_matrix((numItems, numItems))

In [5]:
adj[edges[:,0], edges[:,1]] = 1

### Connect sink nodes to themselves

In [6]:
degOut = adj.getnnz(axis = 1) # num of non zero values in row

adj.setdiag(degOut == 0) # more efficient with lilmatrix
adj = adj.tocsr()
degOut = adj.getnnz(axis = 1) # num of non zero values in row

### Scale matrix by outgoing edges

In [7]:
degOutRep = np.repeat(degOut, degOut) # degOut is the same as number of data points in row
adj.data = adj.data / degOutRep

### Initialize pageranks

In [22]:
print(names)

['Adams State', 'Air Force', 'Akron', 'Alabama', 'Alabama A&M', 'Alabama State', 'Albany', 'Albion', 'Alcorn State', 'Angelo State', 'Appalachian State', 'Arizona', 'Arizona State', 'Arkansas', 'Arkansas State', 'Arkansas-Monticello', 'Arkansas-Pine Bluff', 'Army', 'Assumption', 'Auburn', 'Austin Peay', 'Azusa Pacific', 'Baker University', 'Ball State', 'Baylor', 'Benedict', 'Bentley College', 'Bethune-Cookman', 'Birmingham Southern', 'Boise State', 'Boston College', 'Bowling Green', 'Brigham Young', 'Brown', 'Bryant University', 'Bucknell', 'Buffalo', 'Butler', 'Cal Poly', 'California', 'Campbell', 'Carthage', 'Central Arkansas', 'Central Connecticut State', 'Central Methodist', 'Central Michigan', 'Central State', 'Central Washington', 'Charleston Southern', 'Chattanooga', 'Chowan', 'Cincinnati', 'Citadel', 'Clark Atlanta', 'Clemson', 'Coastal Carolina', 'Colgate', 'Colorado', 'Colorado State', 'Columbia', 'Concordia College', 'Concordia University (WI)', 'Connecticut', 'Cornell', 'Culver-Stockton', 'Cumberland University', 'Dartmouth', 'Davidson', 'Dayton', 'Delaware', 'Delaware State', 'Delaware Valley', 'Delta State', 'Dixie State', 'Drake', 'Duke', 'Duquesne', 'East Carolina', 'East Central Oklahoma', 'Eastern Illinois', 'Eastern Kentucky', 'Eastern Michigan', 'Eastern Washington', 'Edward Waters', 'Elon', 'Faulkner', 'Fayetteville State', 'Florida', 'Florida A&M', 'Florida Atlantic', 'Florida International', 'Florida State', 'Fordham', 'Franklin', 'Fresno State', 'Furman', 'Gardner-Webb', 'Georgetown', 'Georgia', 'Georgia Southern', 'Georgia Tech', 'Glenville State', 'Grambling State', 'Hampton', 'Harvard', 'Hawaii', 'Henderson State', 'Hofstra', 'Holy Cross', 'Houston', 'Howard', 'Humboldt State', 'Idaho', 'Idaho State', 'Illinois', 'Illinois State', 'Indiana', 'Indiana State', 'Iona', 'Iowa', 'Iowa State', 'Jackson State', 'Jacksonville', 'Jacksonville State', 'James Madison', 'Johnson Smith', 'Kansas', 'Kansas State', 'Kent State', 'Kentucky', 'Kentucky Wesleyan', 'LSU', 'Lafayette', 'Lambuth', 'Langston', 'Lehigh', 'Lenoir-Rhyne', 'Liberty', 'Lincoln (MO)', 'Livingstone', 'Louisiana Tech', 'Louisiana-Lafayette', 'Louisiana-Monroe', 'Louisville', 'Maine', 'Marian', 'Marist', 'Mars Hill', 'Marshall', 'Maryland', 'Massachusetts', 'McNeese State', 'Memphis', 'Merrimack', 'Methodist', 'Miami (FL)', 'Miami (OH)', 'Michigan', 'Michigan State', 'Middle Tennessee State', 'Minnesota', 'Mississippi', 'Mississippi State', 'Mississippi Valley State', 'Missouri', 'Missouri S&T', 'Missouri State', 'Monmouth', 'Montana', 'Montana State', 'Montana-Western', 'Morehead State', 'Morehouse', 'Morgan State', 'Murray State', 'Navy', 'Nebraska', 'Nevada', 'New Hampshire', 'New Mexico', 'New Mexico Highlands', 'New Mexico State', 'Nicholls State', 'Norfolk State', 'North Carolina', 'North Carolina A&T', 'North Carolina Central', 'North Carolina Pembroke', 'North Carolina State', 'North Dakota', 'North Dakota State', 'North Greenville', 'North Texas', 'Northeastern', 'Northern Arizona', 'Northern Colorado', 'Northern Illinois', 'Northern Iowa', 'Northwestern', 'Northwestern State', 'Notre Dame', 'Ohio', 'Ohio State', 'Oklahoma', 'Oklahoma State', 'Oregon', 'Oregon State', 'Pace', 'Penn State', 'Pennsylvania', 'Pittsburgh', 'Portland State', 'Prairie View A&M', 'Presbyterian', 'Princeton', 'Purdue', 'Quincy', 'Rhode Island', 'Rhodes', 'Rice', 'Richmond', 'Robert Morris', 'Rutgers', 'Sacramento State', 'Sacred Heart', 'Sam Houston State', 'Samford', 'San Diego', 'San Diego State', 'San Jose State', 'Savannah State', 'Shaw', 'Shorter', 'South Carolina', 'South Carolina State', 'South Dakota', 'South Dakota State', 'South Florida', 'Southeast Missouri State', 'Southeastern Louisiana', 'Southeastern Oklahoma', 'Southern Connecticut State', 'Southern Illinois', 'Southern Methodist', 'Southern Miss', 'Southern Oregon', 'Southern University', 'Southern Utah', 'Southern Virginia', 'Southwest Baptist', 'St. Ambrose', 'St. Cloud State', 'St. Francis (IL)', 'St. Francis (PA)', 'Stanford', 'Stephen F. Austin', 'Stillman', 'Stonehill', 'Stony Brook', 'Syracuse', 'TCU', 'Temple', 'Tennessee', 'Tennessee State', 'Tennessee Tech', 'Tennessee-Martin', 'Texas', 'Texas A&M', 'Texas A&M-Commerce', 'Texas A&M-Kingsville', 'Texas College', 'Texas Southern', 'Texas State', 'Texas Tech', 'Toledo', 'Towson', 'Troy', 'Tulane', 'Tulsa', 'Tusculum', 'Tuskegee', 'UAB', 'UC Davis', 'UCF', 'UCLA', 'UNLV', 'USC', 'UTEP', 'Upper Iowa', 'Utah', 'Utah State', 'Valparaiso', 'Vanderbilt', 'Villanova', 'Virginia', 'Virginia Military Institute', 'Virginia State', 'Virginia Tech', 'Wagner', 'Wake Forest', 'Washburn', 'Washington', 'Washington State', 'Webber International', 'Weber State', 'Wesley College', 'West Chester', 'West Georgia', 'West Virginia', 'Western Carolina', 'Western Illinois', 'Western Kentucky', 'Western Michigan', 'Western Oregon', 'Western Washington', 'William & Mary', 'William Penn', 'Winston-Salem', 'Wisconsin', 'Wisconsin-La Crosse', 'Wofford', 'Wyoming', 'Yale', 'Youngstown State']

In [26]:
print(df[df[0] == "Utah"])
print(df[df[2] == "Utah"])

         0   1                2   3
47    Utah  25         Michigan  23
227   Utah  42             UNLV  21
332   Utah  58       Utah State  10
397   Utah  30        Air Force  23
551   Utah  37      Weber State  21
567   Utah  31     Oregon State  28
706   Utah  40          Wyoming   7
807   Utah  49   Colorado State  16
1100  Utah  13       New Mexico  10
1108  Utah  13              TCU  10
1321  Utah  63  San Diego State  14
1410  Utah  48    Brigham Young  24
1506  Utah  31          Alabama  17
Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

### Iterate pagerank

In [8]:
p = [1/adj.shape[0]] * adj.shape[0]

In [9]:
d = 0.9
jProb = [(1-d)/len(p)] * len(p)

In [10]:
for i in range(30):
    p = adj.T*p*d + jProb

In [11]:
print(sum(p))

1.000000000000001

In [12]:
output = []
for i in range(len(p)):
    output.append([names[i],p[i]])
output = pd.DataFrame(output, columns = ['name', 'pageRank'])
output = output.sort_values(by=['pageRank'], ascending=False)
output = output.reset_index().drop(columns=['index'])

print(tabulate(output, headers='keys', tablefmt='psql'))
# i=1
# for r in output.itertuples():
#     print(f"{i} {r[1]} with pagerank: {r[2]}")
#     i+=1

+-----+-----------------------------+-------------+
|     | name                        |    pageRank |
|-----+-----------------------------+-------------|
|   0 | Utah                        | 0.168811    |
|   1 | Mississippi                 | 0.0342903   |
|   2 | Florida                     | 0.0270402   |
|   3 | Wake Forest                 | 0.0170967   |
|   4 | Oklahoma                    | 0.0155623   |
|   5 | Alabama                     | 0.0152552   |
|   6 | Texas Tech                  | 0.0152301   |
|   7 | Virginia Tech               | 0.0145567   |
|   8 | Oregon State                | 0.0139949   |
|   9 | Vanderbilt                  | 0.0135798   |
|  10 | Boston College              | 0.0127457   |
|  11 | Texas                       | 0.0126105   |
|  12 | Georgia Tech                | 0.0120252   |
|  13 | North Carolina Pembroke     | 0.012012    |
|  14 | South Carolina              | 0.0113403   |
|  15 | Virginia                    | 0.0107675   |
|  16 | USC                         | 0.010673    |
|  17 | North Carolina              | 0.0103774   |
|  18 | Florida State               | 0.0101563   |
|  19 | Maryland                    | 0.00969705  |
|  20 | Miami (FL)                  | 0.0095921   |
|  21 | James Madison               | 0.00957945  |
|  22 | North Carolina State        | 0.00954665  |
|  23 | Richmond                    | 0.00924465  |
|  24 | Duke                        | 0.00896516  |
|  25 | Montana                     | 0.00886468  |
|  26 | Clemson                     | 0.00876045  |
|  27 | West Virginia               | 0.00827855  |
|  28 | Georgia                     | 0.00801897  |
|  29 | East Carolina               | 0.00759099  |
|  30 | Pittsburgh                  | 0.00715041  |
|  31 | TCU                         | 0.00695128  |
|  32 | Penn State                  | 0.00687086  |
|  33 | LSU                         | 0.00685364  |
|  34 | Cincinnati                  | 0.00683338  |
|  35 | Iowa                        | 0.00654366  |
|  36 | Villanova                   | 0.00635829  |
|  37 | Weber State                 | 0.00629224  |
|  38 | Oregon                      | 0.0057236   |
|  39 | California                  | 0.00558939  |
|  40 | Franklin                    | 0.00555171  |
|  41 | Rutgers                     | 0.00529149  |
|  42 | Navy                        | 0.00513557  |
|  43 | Connecticut                 | 0.00475409  |
|  44 | Northwestern                | 0.00451941  |
|  45 | Boise State                 | 0.00451453  |
|  46 | Tulsa                       | 0.00445777  |
|  47 | Wesley College              | 0.00443908  |
|  48 | Stanford                    | 0.00418418  |
|  49 | Michigan State              | 0.00410629  |
|  50 | Marian                      | 0.00403343  |
|  51 | St. Francis (IL)            | 0.00403343  |
|  52 | Appalachian State           | 0.00394942  |
|  53 | Missouri                    | 0.00394154  |
|  54 | Washburn                    | 0.00388664  |
|  55 | Houston                     | 0.00385676  |
|  56 | Arkansas-Monticello         | 0.00383616  |
|  57 | South Florida               | 0.00380721  |
|  58 | Ohio State                  | 0.00377536  |
|  59 | Brown                       | 0.00374203  |
|  60 | Methodist                   | 0.0036142   |
|  61 | Birmingham Southern         | 0.0036142   |
|  62 | New Hampshire               | 0.00359029  |
|  63 | Northern Iowa               | 0.00354991  |
|  64 | Tennessee                   | 0.00342739  |
|  65 | Arkansas                    | 0.00341481  |
|  66 | Nebraska                    | 0.00340004  |
|  67 | Mississippi State           | 0.0033145   |
|  68 | Kentucky                    | 0.00322617  |
|  69 | Jacksonville                | 0.00306651  |
|  70 | Colorado                    | 0.00306536  |
|  71 | Northwestern State          | 0.00302651  |
|  72 | Oklahoma State              | 0.00294449  |
|  73 | Central Arkansas            | 0.00294083  |
|  74 | Arizona                     | 0.00284176  |
|  75 | Ball State                  | 0.00277525  |
|  76 | Harvard                     | 0.00277517  |
|  77 | Kansas                      | 0.00272193  |
|  78 | Albany                      | 0.00269381  |
|  79 | Brigham Young               | 0.00266575  |
|  80 | Southern Illinois           | 0.00263395  |
|  81 | Southern Miss               | 0.00258524  |
|  82 | Holy Cross                  | 0.00255852  |
|  83 | South Carolina State        | 0.00254225  |
|  84 | Hawaii                      | 0.00252967  |
|  85 | Massachusetts               | 0.00252461  |
|  86 | Buffalo                     | 0.00251128  |
|  87 | Dayton                      | 0.00249734  |
|  88 | Rice                        | 0.00246803  |
|  89 | Grambling State             | 0.00246585  |
|  90 | Colgate                     | 0.00245381  |
|  91 | Nevada                      | 0.00244612  |
|  92 | Middle Tennessee State      | 0.00243573  |
|  93 | Bowling Green               | 0.00241439  |
|  94 | Eastern Washington          | 0.00239418  |
|  95 | Notre Dame                  | 0.00235951  |
|  96 | Illinois                    | 0.00230832  |
|  97 | Nicholls State              | 0.00230807  |
|  98 | Maine                       | 0.00230627  |
|  99 | Liberty                     | 0.00227306  |
| 100 | Yale                        | 0.00226584  |
| 101 | Lafayette                   | 0.00218959  |
| 102 | Wisconsin                   | 0.00213258  |
| 103 | William & Mary              | 0.00212837  |
| 104 | Wofford                     | 0.00212176  |
| 105 | Texas State                 | 0.00206631  |
| 106 | McNeese State               | 0.00204166  |
| 107 | Auburn                      | 0.00196255  |
| 108 | San Diego                   | 0.00195288  |
| 109 | Air Force                   | 0.0019412   |
| 110 | Furman                      | 0.00192982  |
| 111 | Florida A&M                 | 0.00190946  |
| 112 | Colorado State              | 0.00190423  |
| 113 | Presbyterian                | 0.00187937  |
| 114 | Monmouth                    | 0.00187686  |
| 115 | Eastern Kentucky            | 0.00183551  |
| 116 | Fresno State                | 0.00182692  |
| 117 | Cal Poly                    | 0.00182155  |
| 118 | Rhode Island                | 0.00181683  |
| 119 | Tennessee State             | 0.00180604  |
| 120 | Minnesota                   | 0.0017831   |
| 121 | Stony Brook                 | 0.00176709  |
| 122 | Elon                        | 0.00173495  |
| 123 | Louisville                  | 0.00169472  |
| 124 | North Dakota State          | 0.0016927   |
| 125 | Southeastern Louisiana      | 0.00168528  |
| 126 | Central Michigan            | 0.00167408  |
| 127 | Louisiana Tech              | 0.00166349  |
| 128 | Central Connecticut State   | 0.00166194  |
| 129 | Marshall                    | 0.0016373   |
| 130 | Tennessee-Martin            | 0.00160822  |
| 131 | Western Michigan            | 0.00158667  |
| 132 | Delaware                    | 0.00157786  |
| 133 | Davidson                    | 0.00157569  |
| 134 | Morehead State              | 0.00157205  |
| 135 | North Dakota                | 0.00157181  |
| 136 | Indiana                     | 0.00156586  |
| 137 | Sacred Heart                | 0.00154075  |
| 138 | Delaware State              | 0.0015148   |
| 139 | UCF                         | 0.00149077  |
| 140 | Sacramento State            | 0.00147417  |
| 141 | Charleston Southern         | 0.00145281  |
| 142 | Lehigh                      | 0.00145143  |
| 143 | Drake                       | 0.00145007  |
| 144 | Troy                        | 0.00141972  |
| 145 | Morgan State                | 0.00141663  |
| 146 | Bryant University           | 0.00141349  |
| 147 | Memphis                     | 0.00139664  |
| 148 | South Dakota                | 0.00137557  |
| 149 | Butler                      | 0.00136961  |
| 150 | Jacksonville State          | 0.0013686   |
| 151 | UCLA                        | 0.00134906  |
| 152 | Montana State               | 0.00134543  |
| 153 | Bethune-Cookman             | 0.00130642  |
| 154 | Coastal Carolina            | 0.00129783  |
| 155 | Prairie View A&M            | 0.00129647  |
| 156 | Stephen F. Austin           | 0.0012882   |
| 157 | Southern Utah               | 0.00127676  |
| 158 | Arizona State               | 0.00127385  |
| 159 | Sam Houston State           | 0.00126407  |
| 160 | Pennsylvania                | 0.00125941  |
| 161 | Murray State                | 0.00125162  |
| 162 | Gardner-Webb                | 0.00124345  |
| 163 | Samford                     | 0.00124292  |
| 164 | Fordham                     | 0.00123937  |
| 165 | South Dakota State          | 0.00122428  |
| 166 | Hampton                     | 0.00122379  |
| 167 | Cornell                     | 0.00121352  |
| 168 | Iona                        | 0.00120236  |
| 169 | Florida Atlantic            | 0.00119806  |
| 170 | Northern Arizona            | 0.00118717  |
| 171 | Wyoming                     | 0.00117908  |
| 172 | Louisiana-Lafayette         | 0.00115943  |
| 173 | Robert Morris               | 0.00115862  |
| 174 | Duquesne                    | 0.00115019  |
| 175 | Savannah State              | 0.00113906  |
| 176 | UTEP                        | 0.00113469  |
| 177 | UC Davis                    | 0.00113385  |
| 178 | Arkansas State              | 0.00112401  |
| 179 | Kent State                  | 0.00109374  |
| 180 | Portland State              | 0.00109239  |
| 181 | New Mexico                  | 0.00108034  |
| 182 | Western Illinois            | 0.0010674   |
| 183 | Southeast Missouri State    | 0.00106561  |
| 184 | Northern Illinois           | 0.00105944  |
| 185 | Baylor                      | 0.00105934  |
| 186 | Jackson State               | 0.00104018  |
| 187 | San Jose State              | 0.0010226   |
| 188 | Virginia Military Institute | 0.00101778  |
| 189 | Norfolk State               | 0.00100125  |
| 190 | Bucknell                    | 0.000997127 |
| 191 | Eastern Michigan            | 0.000995283 |
| 192 | Marist                      | 0.000989784 |
| 193 | Michigan                    | 0.000979901 |
| 194 | Texas A&M                   | 0.000965324 |
| 195 | Florida International       | 0.000960596 |
| 196 | Georgia Southern            | 0.000959459 |
| 197 | Hofstra                     | 0.000952706 |
| 198 | Miami (OH)                  | 0.000932305 |
| 199 | Syracuse                    | 0.00092821  |
| 200 | Kansas State                | 0.000923769 |
| 201 | Youngstown State            | 0.000921201 |
| 202 | Southern University         | 0.000909449 |
| 203 | Purdue                      | 0.000896232 |
| 204 | Tennessee Tech              | 0.000892818 |
| 205 | Western Kentucky            | 0.000882555 |
| 206 | New Mexico State            | 0.000862445 |
| 207 | UNLV                        | 0.000861251 |
| 208 | Western Carolina            | 0.000845828 |
| 209 | Valparaiso                  | 0.000841786 |
| 210 | Army                        | 0.000823409 |
| 211 | North Carolina Central      | 0.000821263 |
| 212 | Texas Southern              | 0.000812601 |
| 213 | Louisiana-Monroe            | 0.000806437 |
| 214 | Winston-Salem               | 0.000797103 |
| 215 | Princeton                   | 0.000794488 |
| 216 | UAB                         | 0.000788985 |
| 217 | Alabama State               | 0.000777606 |
| 218 | Eastern Illinois            | 0.000768964 |
| 219 | Akron                       | 0.000765385 |
| 220 | Towson                      | 0.000761145 |
| 221 | Utah State                  | 0.000759571 |
| 222 | Temple                      | 0.000756622 |
| 223 | Arkansas-Pine Bluff         | 0.000749736 |
| 224 | Ohio                        | 0.000744859 |
| 225 | North Carolina A&T          | 0.000717052 |
| 226 | Southern Methodist          | 0.000680578 |
| 227 | Alabama A&M                 | 0.000676584 |
| 228 | Citadel                     | 0.00065297  |
| 229 | Iowa State                  | 0.000652058 |
| 230 | Rhodes                      | 0.000646477 |
| 231 | Mississippi Valley State    | 0.000639102 |
| 232 | Missouri State              | 0.000622395 |
| 233 | Wagner                      | 0.000596418 |
| 234 | Illinois State              | 0.000596348 |
| 235 | Toledo                      | 0.000590068 |
| 236 | Chattanooga                 | 0.00058642  |
| 237 | Campbell                    | 0.00058642  |
| 238 | Northeastern                | 0.000530537 |
| 239 | Idaho State                 | 0.000529768 |
| 240 | Columbia                    | 0.000518447 |
| 241 | Austin Peay                 | 0.000496791 |
| 242 | Georgetown                  | 0.000476858 |
| 243 | Washington State            | 0.000472241 |
| 244 | San Diego State             | 0.000458815 |
| 245 | Alcorn State                | 0.000455515 |
| 246 | Howard                      | 0.000455092 |
| 247 | Edward Waters               | 0.000455092 |
| 248 | Tulane                      | 0.00045505  |
| 249 | Idaho                       | 0.000438231 |
| 250 | Fayetteville State          | 0.000414233 |
| 251 | Tuskegee                    | 0.000395631 |
| 252 | North Texas                 | 0.000388072 |
| 253 | Henderson State             | 0.000383616 |
| 254 | Stonehill                   | 0.000375739 |
| 255 | Northern Colorado           | 0.000351987 |
| 256 | Upper Iowa                  | 0.000308642 |
| 257 | William Penn                | 0.000308642 |
| 258 | Chowan                      | 0.000308642 |
| 259 | Clark Atlanta               | 0.000308642 |
| 260 | Western Washington          | 0.000308642 |
| 261 | Albion                      | 0.000308642 |
| 262 | Western Oregon              | 0.000308642 |
| 263 | Wisconsin-La Crosse         | 0.000308642 |
| 264 | Central Washington          | 0.000308642 |
| 265 | Washington                  | 0.000308642 |
| 266 | Central State               | 0.000308642 |
| 267 | Angelo State                | 0.000308642 |
| 268 | West Georgia                | 0.000308642 |
| 269 | Assumption                  | 0.000308642 |
| 270 | Central Methodist           | 0.000308642 |
| 271 | Carthage                    | 0.000308642 |
| 272 | Bentley College             | 0.000308642 |
| 273 | Virginia State              | 0.000308642 |
| 274 | Benedict                    | 0.000308642 |
| 275 | Baker University            | 0.000308642 |
| 276 | Webber International        | 0.000308642 |
| 277 | Azusa Pacific               | 0.000308642 |
| 278 | West Chester                | 0.000308642 |
| 279 | Delta State                 | 0.000308642 |
| 280 | Tusculum                    | 0.000308642 |
| 281 | Concordia College           | 0.000308642 |
| 282 | Indiana State               | 0.000308642 |
| 283 | Johnson Smith               | 0.000308642 |
| 284 | Shorter                     | 0.000308642 |
| 285 | Shaw                        | 0.000308642 |
| 286 | Kentucky Wesleyan           | 0.000308642 |
| 287 | Lambuth                     | 0.000308642 |
| 288 | Langston                    | 0.000308642 |
| 289 | Lenoir-Rhyne                | 0.000308642 |
| 290 | Lincoln (MO)                | 0.000308642 |
| 291 | Livingstone                 | 0.000308642 |
| 292 | Mars Hill                   | 0.000308642 |
| 293 | Merrimack                   | 0.000308642 |
| 294 | Missouri S&T                | 0.000308642 |
| 295 | Quincy                      | 0.000308642 |
| 296 | Montana-Western             | 0.000308642 |
| 297 | Morehouse                   | 0.000308642 |
| 298 | New Mexico Highlands        | 0.000308642 |
| 299 | Pace                        | 0.000308642 |
| 300 | North Greenville            | 0.000308642 |
| 301 | Humboldt State              | 0.000308642 |
| 302 | Southeastern Oklahoma       | 0.000308642 |
| 303 | Southern Connecticut State  | 0.000308642 |
| 304 | Dixie State                 | 0.000308642 |
| 305 | Concordia University (WI)   | 0.000308642 |
| 306 | Culver-Stockton             | 0.000308642 |
| 307 | Texas College               | 0.000308642 |
| 308 | Texas A&M-Kingsville        | 0.000308642 |
| 309 | Texas A&M-Commerce          | 0.000308642 |
| 310 | Cumberland University       | 0.000308642 |
| 311 | Dartmouth                   | 0.000308642 |
| 312 | Delaware Valley             | 0.000308642 |
| 313 | East Central Oklahoma       | 0.000308642 |
| 314 | Southern Oregon             | 0.000308642 |
| 315 | Stillman                    | 0.000308642 |
| 316 | Faulkner                    | 0.000308642 |
| 317 | St. Francis (PA)            | 0.000308642 |
| 318 | St. Cloud State             | 0.000308642 |
| 319 | St. Ambrose                 | 0.000308642 |
| 320 | Southwest Baptist           | 0.000308642 |
| 321 | Southern Virginia           | 0.000308642 |
| 322 | Glenville State             | 0.000308642 |
| 323 | Adams State                 | 0.000308642 |
+-----+-----------------------------+-------------+

# --- testing ---

In [13]:
fname = './data/eg.txt'
with open(fname, 'r') as f:
    lns = [[int(node) for node in re.split('\t',edge.strip('\n'))[:2]] for edge in f.readlines() if edge[0][0] != '#']
    
e = np.array(lns)
n = np.unique(e)

In [14]:
p = [1/len(n)]*len(n) # page rank

m = sparse.lil_matrix((len(n),len(n)))
m[e[:,0],e[:,1]] =  1
msumrow = m.sum(axis = 1) 
m.setdiag(msumrow == 0)

In [15]:
c = sparse.csr_matrix([[2,4,6], [5,10,15]])
d = np.array([2,5])

val = np.repeat(d, c.getnnz(axis=1))
c.data = c.data / val
print(c.todense())

[[1. 2. 3.]
 [1. 2. 3.]]

In [16]:
c = m.tocsr()
d = np.array(m.sum(axis=1))

val = np.repeat(d, c.getnnz(axis=1))

c.data = c.data / val

print(c.todense())

[[0.  1.  0.  0. ]
 [0.  0.  0.5 0.5]
 [0.  0.  1.  0. ]
 [0.5 0.  0.5 0. ]]

In [17]:
m = m.tocsr()
m /= msumrow
print(m)

[[0.  1.  0.  0. ]
 [0.  0.  0.5 0.5]
 [nan nan inf nan]
 [0.5 0.  0.5 0. ]]

/opt/anaconda3/lib/python3.8/site-packages/scipy/sparse/base.py:595: RuntimeWarning: divide by zero encountered in true_divide
  return np.true_divide(self.todense(), other)
/opt/anaconda3/lib/python3.8/site-packages/scipy/sparse/base.py:595: RuntimeWarning: invalid value encountered in true_divide
  return np.true_divide(self.todense(), other)

In [18]:
# print(m.todense())
# print(np.array((m.sum(axis=1) == 0).flatten())[0])
mask = np.array((m.sum(axis=1) == 0).flatten())[0]
# print(mask)
print(m[mask])

[]

In [19]:
def set_sink_diags(adjm):
    # takes adjacency matrix
    # returns updated matrix whose diagonal will be 1 if that row is a sink node
    sums = adjm.sum(axis=1)
    for i in range(adjm.shape[0]):
        if sums[i] == 0:
            adjm[i,i] = 1

In [20]:
m /= m.sum(axis=1)
print(m)

[[0.  1.  0.  0. ]
 [0.  0.  0.5 0.5]
 [nan nan nan nan]
 [0.5 0.  0.5 0. ]]